<% layout('layout/layout.ejs') %>
<% block('stylesheets', '<link rel="stylesheet" href="/css/hotel.css">') -%>

<div class="container mt-4">
  <div class="row">
    <% hoteles.forEach(hotel => { %>
      <div class="col-md-6 mb-4">
        <div class="card hotel-card">
          <div class="row no-gutters">
            <div class="col-md-6">
              <img src="<%= hotel.urlImagen %>" class="card-img hotel-image" alt="<%= hotel.nombre %>">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title"><%= hotel.nombre %></h5>
                <p class="card-text hotel-ubicacion">
                  <i class="fas fa-map-marker-alt"></i> <%= hotel.zona %>, <%= hotel.estado %>
                </p>

                <% if (hotel.estaCercaDe && hotel.estaCercaDe.tipo) { %>
                  <p class="card-text small">
                    Cerca de: <%= hotel.estaCercaDe.tipo %> (<%= hotel.estaCercaDe.distancia %>)
                  </p>
                <% } %>

<script>
    console.log("Valor de fechas en Hoteles.ejs:", '<%= fechas %>');
</script>
<a href="/hotel/<%= hotel.nombre %>?fechas=<%= encodeURIComponent(fechas) %>" class="btn btn-primary btn-sm btn-block mt-3">Ver disponibilidad</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>
